{% extends 'base.html' %}
{% load materializecss %}

{% block main %}
<div class="container">
    {% if error %}
        <div id="error-family">
            <h4>{{ username }} hasn't created any posts yet.</h4>
        </div>
    {% else %}
        {% if user.username == username %}
            <h3>My Posts</h3>
        {% else %}
            <h3>{{ username }}'s posts</h3>
        {% endif %}
        <div class="row">
            <div class="col s9">
                {% if user.username == username %}
                <form action="{% url 'create_post' %}" method="POST" id="create-post-form">
                    {% csrf_token %}
                    {{ create_post_form | materializecss }}
                    <input type="submit" class="btn" value="Create Post">
                </form>
                {% endif %}
                {% for post in posts %}
                    <div class="card horizontal">
                        <div class="card-stacked">
                            <div class="card-content">
                                <p>{{ post.content }}</p>
                            </div>
                            <div class="card-action">
                                {% if post.user_id == user.user.id %}
                                <a href="{% url 'update_post' post.id %}" class="btn-small light-green lighten-1"><i class="material-icons">create</i></a>
                                <a href="{% url 'delete_post_confirm' post.id %}" class="btn-small red accent-1"><i class="material-icons">delete</i></a>
                                {% endif %}
                                <a href="{% url 'view_post' post.id %}" class="btn-small"><i class="material-icons">insert_comment</i></a>
                                {% if post.comment_set.count > 0 %}
                                <span class="new badge" data-badge-caption="comment(s)">{{ post.comment_set.count }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}