{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LivelyRoots - Real Families, Real Connections</title>
    {% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock css %}
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper light-green lighten-1">
                <a href="{% url 'index' %}" class="brand-logo"><img src="{% static 'img/logo.svg' %}"></a>
                <ul class="right nav-base">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' user.username %}">Hi, {{ user.first_name }}!</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer class="page-footer light-green lighten-1">
        <ul class="left">
            <a href="{% url 'faq' %}"><li>FAQ</li></a>
            <a href="{% url 'contact' %}"><li>Contact</li></a>
        </ul>
        <p class="right">&copy; 2018 Sarah Stensberg</p>
    </footer>

    {% block javascript %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js" integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>
    {% endblock javascript %}
</body>
</html>