{% extends 'base.html' %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col s6">
                <h3>LivelyRoots</h3>
                <h5>Real Families. Real Connections.</h6>
                <p>We have all experienced the frustration of other social media platforms. 
                    The drama, the lack of respect and kindness, and the realization that your 
                    "friends" aren't really your friends.
                </p>
                <p><strong>LivelyRoots</strong> is a platform for real families to make real connections with each other.
                    If you haven't received an invite from another user, sign up by creating a new family.
                    When you're finished, you'll be able to set up a user profile and invite your family to 
                    join you on LivelyRoots.
                </p>
                <p>
                    We're here to support family connections and bring honesty and transparancy back to social media.
                    If you have any concerns or questions, please view our FAQs or contact us. <strong>We're here for you</strong>.
                </p>
            </div>
            <div class="col s6">
                <h3>Features</h3>
                <div class="row ">
                    <div class="col s3">
                        <i class="large material-icons">child_friendly</i>
                        <p>LivelyRoots is safe for your kids because your "friends" are family.</p>
                    </div>
                    <div class="col s3">
                        <i class="large material-icons">security</i>
                        <p>There's no need to adjust privacy settings because everything you share can only be views by members of your family.</p>
                    </div>
                    <div class="col s3">
                        <i class="large material-icons">comment</i>
                        <p>Share only the things that matter to you, and see the same from your family.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
