{% extends 'base.html' %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col s6">
                <h3>LivelyRoots</h3>
                <h5>For families who just want to connect.</h6>
            </div>
            <div class="col s6">
                <h3>Features</h3>
                <div class="row">
                    <div class="col s4">
                        feature1
                    </div>
                    <div class="col s4">
                        feature2
                    </div>
                    <div class="col s4">
                        feature3
                    </div>
                </div>
                <div class="row">
                    <div class="col s4">
                        feature4
                    </div>
                    <div class="col s4">
                        feature5
                    </div>
                    <div class="col s4">
                        feature6
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
