{% extends 'base.html' %}
{% load materializecss %}

{% block main %}
<div class="container">
    <div id="contact-form">
        <h3>Join A Family</h3>
        <p>Please do not use this form if you do not have a family code.</p>
        <p>If you do NOT have a family code, please create a new family <a href="{% url 'family_create' %}">here</a>.</p>
        <form method="POST" action=".">
            {% csrf_token %}
            {{ form | materializecss }}
            <input class="btn" type="submit" value="Submit" />
        </form>
    </div>
</div>
{% endblock %}