{% extends 'base.html' %}
{% load materializecss %}


{% block main %}
<div class="container">
    <h3>Profile</h3>
    <div class="row">
        <div class="col s12">
            <ul>
                <li>Username: {{ user.username }}</li>
                <li>Name: {{ user.first_name }} {{ user.last_name }}</li>
                <li>Email: {{ user.email }}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <ul>
                {% for member in members %}
                <li>Birthday: {{ member.birth_date }}</li>
                <li>Location: {{ member.location }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col s6">
            <ul>
                {% for family in families %}
                <li>Family Name: {{ family.family_name }}</li>
                <li> Family Code: {{ family.family_code }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}