{% extends 'base.html' %}
{% load materializecss %}


{% block main %}
<div class="container">
    <h3>Profile</h3>
    <div class="row">
        <div class="col s6">
            <h5 class="profile-page-header">User Details</h5>
            <ul class="profile-page">
                <li><strong>Username</strong>: {{ user.username }}</li>
                <li><strong>Name</strong>: {{ user.first_name }} {{ user.last_name }}</li>
                <li><strong>Email</strong>: {{ user.email }}</li>
                {% for member in members %}
                <li><strong>Birthday</strong>: {{ member.birth_date }}</li>
                <li><strong>Location</strong>: {{ member.location }}</li>
                {% endfor %}
            </ul>
            <a href="#" class="btn">Edit User Details</a>
            <a class="btn red accent-1" href="{% url 'delete_user_confirm' user.username%}">Delete Account</a>
        </div>
        <div class="col s6">
            <h5 class="profile-page-header">Family Memberships</h5>
            <ul class="profile-page">
                {% for family in families %}
                <li>{{ family.family_name }}</li>
                {% endfor %}
            </ul>
            <a href="{% url 'join_family' %}" class="btn">Join Family</a>
            <a href="{% url 'family_create' %}" class="btn">Create A Family</a>
            <a href="#" class="btn red accent-1">Remove A Family</a>
        </div>
    </div>
</div>
{% endblock %}